<div class="section__items">
  <div class="grid">
    {% for i in range(0, 4) %}
    <div class="_col _col-sm-6">
      <!-- begin news-item -->
      <a href="#" class="news-item js-lazy" data-background-image="./img/news-img.jpg">
        <span class="news-item__content">
          <span class="news-item__upttl">02-03-2019</span>

          <span class="news-item__title">
            <span class="title title--h3">Огляд юнацького чемпіонату з мініфутболу</span>
          </span>
        </span>
      </a>
      <!-- end news-item -->
    </div>
    {% endfor %}
  </div>
</div>