<!-- begin tooltip -->
<div class="tooltip js-popup" data-popup="search">
  <div class="header-search">
    <div class="header-search__top">
      <div class="header-search__input">
        <form>
          <button class="header-search__input-btn">
            {{ mixins.icon('search') }}
          </button>
          <input type="text">
        </form>

        <button class="close js-popup-close header-search__close"></button>
      </div>
    </div>

    <div class="header-search__body">
      <div class="header-search__items">
        {% for i in range(0, 10) %}
        <!-- begin cart-tooltip-item -->
        <a href="#" class="header-search__item cart-tooltip-item">
          <span class="cart-tooltip-item__img">
            <img class="js-lazy" alt="" src="" data-src="./img/cart-sm.jpg"/>
          </span>

          <span class="cart-tooltip-item__content">
            <span class="cart-tooltip-item__title">
              <span class="title title--h6">Куртка зимова</span>
            </span>

            <span class="cart-tooltip-item__meta">
              <span class="cart-tooltip-item__meta-item">Колір: білий</span>
              <span class="cart-tooltip-item__meta-item">Розмір: XS</span>
              <span class="cart-tooltip-item__meta-item">32 шт</span>
            </span>
          </span>

          <span class="cart-tooltip-item__price">
            <span class="price price-sm">$ 4890,00</span>
          </span>
        </a>
        <!-- end cart-tooltip-item -->
        {% endfor %}
      </div>
    </div>

    <div class="header-search__bottom">
      <a href="#" class="link">Всі результати (32)</a>
    </div>
  </div>
</div>
<!-- end tooltip -->