<!-- begin section -->
<section class="section pt-0">
  <div class="section__top">
    <div class="container">
      <h3 class="title title--h3-sm">Про компанію</h3>
    </div>
  </div>

  <div class="section__page">
    <!-- begin article -->
    <div class="article">
      <div class="container">
        <h1 class="text-center">Чому Filling Season?</h1>

        <div class="article__subttl text-center">
          Filling Season поділяє цінності здорового способу життя. Ми створюємо для сучасних, проактивно <br>
          налаштованих людей і професійних спортсменів стильний одяг, використовуючи <br>
          інновації заради їх нових досягнень і перемог.
        </div>

        <img class="js-lazy" alt="" src="" data-src="./img/about/filling season копия.jpg"/>

        <article>
          <h3>Як створюється одяг Filling Season?</h3>

          <p>Це ви зрозумієте самі, коли приміряєте на себе теплу й надлегку куртку або ж футболку з оригінальним принтом. Ви обов’язково відчуєте клопітке прагнення створити оригінально й неповторно звичну річ. Створити одяг таким, в якому можна було б відчувати себе легко й бадьоро. І лише вам судити, наскільки добре це вдалося.
Кожен тренувальний костюм, кожна модель футболки – це поєднання високої функціональності, інноваційних технологій й оригінального сучасного дизайну. Наш пріоритет – комфорт. Адже у житті є особливі моменти, відчуття яких зберігаються назавжди. </p>
        </article>

        <img class="js-lazy" alt="" src="" data-src="./img/about/OLD91Y0.jpg"/>

        <article>
          <p>Щоб одяг Filling Season був легким і в той самий час надійно захищав у негоду, компанія робить інвестиції у матеріали для гарантії найвищої якості, щоб забезпечити міцність, вітронепроникність, вологозахист і разом з тим малу вагу виробу. 
Filling Season вибирає той, хто вміє бачити особливе у звичному, здатен відрізнити гарну річ від посередньої, виглядати стильно, водночас залишаючись собою. І щомиті прагне відчувати в собі силу натхнення задля досягнення власної мрії.</p>
        </article>

        <img class="js-lazy" alt="" src="" data-src="./img/about/OLD91Q0.jpg"/>

        <p>З Filling Season легко створювати свій особистий стиль, від сезону до сезону добирати гардероб необмежених можливостей. Вишукано й просто виглядати у місті, комфортно почуватися на прогулянці й у мандрівках, бути зосередженим на тренуваннях й упевнено перемагати у спортивних турнірах.
Високоякісний бренд Filling Season дозволяє відчувати динаміку стрімкого часу і дарує упевненість у кожному русі – адже йти до мрії треба рішуче.</p>
      </div>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->