<!-- begin section -->
<section class="section section--lg">
  <!-- begin article -->
  <div class="article">
    <div class="container">
      <article>
        <div class="article__date">02-03-2019</div>

        <h2>Нові гірнолижні комплекти <br> Filling Season</h2>

        <div class="article__subttl">Сторителлинг - причина, по которой некоторіе продакт-менеджері, маркотологи и дизайнері делают скачок от хорошего к великому</div>
      </article>
    </div>

    <img class="js-lazy" alt="" src="" data-src="./img/boy-1835416_1920.jpg"/>

    <div class="container">
      <article>
        <blockquote>
          <p>«Давно выяснено, что при оценке дизайна и композиции текст мешает сосредоточиться.
          Lorem Ipsum используют потому, что тот обеспечивает текст»</p>

          <ul>
            <li>Стив Джобс.</li>
          </ul>
        </blockquote>
      </article>

      <article>
        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы используюте один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это:</p>

        <ul>
          <li>Есть много вариантов Lorem Ipsum, но большинство из них имеет смысл.</li>
          <li>Есть много вариантов Lorem Ipsum, но большинство из них имеет смысл.</li>
          <li>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда правдивую информацию, а это необходимо для удленения строки в 2 раза.</li>
          <li>Есть много вариантов Lorem Ipsum, но большинство из них имеет смысл...</li>
        </ul>
      </article>
    </div>
  </div>
  <!-- end article -->
</section>
<!-- end section -->