{%set
table = [
  { nmb: '1', amount: 'Від 2000 грн', percent: '5%' },
  { nmb: '2', amount: 'Від 5000 грн', percent: '7%' },
  { nmb: '3', amount: 'Від 10000 грн', percent: '10%' },
  { nmb: '4', amount: 'Від 15000 грн', percent: '15%' },
  { nmb: '5', amount: 'Від 20000 грн', percent: '20%' }
]
%}

<!-- begin section -->
<section class="section pt-0">
  <div class="section__top">
    <div class="container">
      <h3 class="title title--h3-sm">Програма лояльності для членів клубу Filling Season</h3>
    </div>
  </div>

  <div class="section__page">
    <!-- begin article -->
    <div class="article">
      <div class="container">
        <div class="article__subttl text-center">          

Для наших постійних клієнтів ми створили Програму лояльності «Заощаджуй з кожної купівлі». <br>
Завдяки Програмі лояльності Ви отримаєте фіксовані знижки на товар в мережі магазинів «Filling Season». <br>
Також власники карток зможуть брати участь в розіграшах і акціях для постійних клієнтів.
        </div>

        <img class="js-lazy" alt="" src="" data-src="./img/discount/140275-OSQB0N-357.jpg"/>

        <article>
          <h3>Правила програми лояльності:</h3>

          <ol>
            <li>Учасниками Програми лояльності можуть стати тільки фізичні особи, громадяни України, які досягли 18-річного віку.</li>
            <li>Щоб стати учасником Програми лояльності необхідно зробити будь-яку покупку в будь-якому магазині мережі «Filling Season» на суму від 2000 гривень</li>
            <li>Для отримання дисконтної картки покупець повинен заповнити анкету і ознайомитися з правилами Програми.  Згідно із законодавством України, заповнивши анкету учасника Програми лояльності покупець погоджується на внесення його персональних даних до бази персональних даних «Filling Season</li>
            <li>Організатор Програми гарантує конфіденційність зібраної інформації і надання її третім особам тільки в разі законних підстав.</li>
            <li>Розмір фіксованої знижки на момент покупки товару визначається сумою на рахунку карти, накопиченої учасником Програми в процесі здійснення покупок в мережі магазинів «Filling Season</li>
            <li>Сума для визначення знижки нараховується на рахунок дисконтної карти за кожну покупку від суми фактично сплачених коштів.</li>
            <li>Для накопичення коштів для розрахунку розміру знижки по карті, покупець повинен надати дисконтну картку касиру перед оформленням покупки.  Надання дисконтної картки після видачі товарного чека не надає покупцеві право на зарахування суми оплачених покупок на карту.</li>
            <li>Знижка по карті може бути використана при купівлі будь-якого товару, крім товару за зниженою ціною і акційного товару</li>
            <li>Карта є власністю «Filling Season» і не підлягає передачі третім особам.  У разі передачі картки третій особі, «Filling Season» зберігає за собою право анулювати картку без попередження особи на яку вона зареєстрована</li>
            <li>При втраті картки, відновлення проводиться при встановленні особи власника за зареєстрованими в анкеті даних.</li>
          </ol>

        </article>

        <img class="js-lazy" alt="" src="" data-src="./img/discount/13306.jpg"/>

        <article>
          <table>
            <tr>
              <th>№</th>
              <th>Сума покупок ваших друзів</th>
              <th>Ваш % знижки</th>
            </tr>
            {% for i in table %}
            <tr>
              <td>{{ i.nmb | safe }}</td>
              <td>{{ i.amount | safe }}</td>
              <td>{{ i.percent | safe }}</td>
            </tr>
            {% endfor %}
          </table>
        </article>
      </div>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->