{%set
features = [
  {
    icon: 'money',
    text: 'Програма страхування дітей від нещасного випадку передбачає 
можливість вибору страхових сум (розміру покриття).'
  },
  {
    icon: 'jogging',
    text: 'Дія договору страхування не обмежується перебуванням на території 
навчального або дошкільного закладу. Страхове покриття поширюється
на заняття фізкультурою і на заняття в спортивних секціях.'
  },
  {
    icon: '24-hours',
    text: '
Страховий захист 24 години на добу по всьому світу.'
  }
]
%}

<!-- begin section -->
<section class="section pt-0">
  <div class="section__top">
    <div class="container">
      <h3 class="title title--h3-sm">Страхування дітей</h3>
    </div>
  </div>

  <div class="section__page">
    <!-- begin article -->
    <div class="article">
      <div class="container">
        <div class="article__subttl text-center">
Всі батьки знають як важко захистити дитину від неприємностей.  Скільки б ми не говорили своїм дітям про безпечну поведінку, <br>
як би не стежили - діти багато часу проводять в школі, на дитячих майданчиках, на гуртках і позашкільних закладах, <br>
а це передбачає жваве спілкування з однолітками, біганину і активні ігри і як наслідок - можливі  нещасні випадки.
        </div>

        <img class="js-lazy" alt="" src="" data-src="./img/kids/O68Z3N0.jpg"/>

        <article>
          <h3>Хто може бути Застрахованим:</h3>

          <p>Діти у віці від 3 до 17 років, а саме вихованці дитячих дошкільних установ;  учні (школярі) загальноосвітніх навчальних закладів: шкіл, гімназій, коледжів, ліцеїв;  учні або студенти установ початкової та середньої професійної освіти: профтехучилищ, технікумів і т.д.  (За винятком учнів спортивних навчальних закладів).улювати картку без попередження особи на яку вона зареєстрована.</p>
        </article>

        <article>
          <h3>Страховий випадок:</h3>

          <p>Страховими випадками за програмою "Страхування дітей від нещасного випадку" є травматичне ушкодження, в тому числі в результаті протиправних дій третіх осіб, гостре отруєння отруйними рослинами, грибами, хімічними речовинами (промисловими або побутовими), ліками (крім випадків самолікування), утоплення, асфіксія  внаслідок попадання сторонніх предметів або рідин в дихальні шляхи, укуси тварин, в тому числі, змій, отруйних комах, захворювання кліщовим енцефалітом (енцефаломієлітом), правець, сказ, бот  лізм, позаматкова вагітність (якщо вона привела до видалення органів малого таза), опіки, ураження блискавкою або електричним струмом, обмороження, переохолодження.</p>
        </article>

        <article>
          <h3>Страхові виплати:</h3>

          <p>Страхові виплати - це грошові суми, які виплачуються страховиком при настанні страхового випадку.  Виплати здійснюються відповідно до «Таблиці розмірів страхових виплат зі страхування від нещасного випадку», вони розраховуються у відсотках від страхової суми, залежно від тяжкості травми або функціонального розладу внаслідок нещасного випадку.  Максимальна виплата дорівнює обраної страхової суми.
Загальна страхова сума на одну людину - від 5 000 до 50 000 гривень.</p>
        </article>

        <article>
          <h3>Переваги страховки від Filling Season:</h3>

          {% include "partials/_articles-features.html" %}

          {{ mixins.btn(
            title = 'Замовити страхування',
            mod = 'btn--transp-accent'
          ) }}
        </article>
      </div>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->