{%set
features = {
  mod: 'article-features--cols',
  list: [
    {
      icon: 'handshake',
      text: 'чесне партнерство'
    },
    {
      icon: 'shop',
      text: 'Відкриті як для маленького магазину так і для національних мереж. '
    },
    {
      icon: 'loupe',
      text: 'пошук нових ідей та технологій
для втілення'
    },
    {
      icon: 'contract',
      text: 'індивідуальні умови співпраці для тих, хто готовий 
підтримувати вітчизняного виробника'
    },
    {
      icon: 'promotion',
      text: 'маркетингова підтримка'
    },
    {
      icon: 'respect',
      text: 'повага до клієнтів'
    },
    {
      icon: 'operator',
      text: 'виділений менеджер'
    },
    {
      icon: 'shield',
      text: 'гарантійні зобов’язання перед партнерами'
    }
  ]
} 
%}

<!-- begin section -->
<section class="section pt-0">
  <div class="section__top">
    <div class="container">
      <h3 class="title title--h3-sm">Технологіі</h3>
    </div>
  </div>

  <div class="section__page">
    <!-- begin article -->
    <div class="article">
      <div class="container">
        <h1 class="text-center">Ми пишаємося своїми технологіями</h1>

        <div class="article__subttl text-center">
Технологічний процес виготовлення одягу має на увазі під собою <br> 
 зміну форми і розмірів матеріалу, з якого виробляється пошив. Частково перетворенням <br>
піддаються і фізичні властивості тканини, її окремі деталі і вузли. 
        </div>

        <img class="js-lazy" alt="" src="" data-src="./img/technology/cathy-pham-3jAN9InapQI-unsplash.jpg"/>

        <article>
          <h3>Технологія та матеріали, що ми використовуємо</h3>

          <p>Всі замовлення виготовляються на професійному обладнанні і завдяки чому, ми можемо виробляти вироби складної форми, втілюючи яскраві дизайнерські рішення.  Одна з найбільш передових технологій, яка використовується в пошитті спортивного одягу - це "плоскі шви".  Ця технологія дозволяє з'єднати тканини внахлест.  Такий метод ми застосовуємо для пошиття футбольної форми складної конструкціі.. Нанесення номерів логотипів, прізвищ.  Розробка і домальовування вашого макета і логотипу - безкоштовно.  Пошиття форми будь-якої складності - сублімації (будь-який дизайнерський задум, тренувальних футболок і тд.)</p>

          <p>Ви можете замовити пошиття спортивного одягу - хокейних светрів найвищої якості, від тренувальних хоккеек до професійних ігрових светрів.  Так само можливий пошив гамаш.  Якість контролюється замовником і менеджером Filling Season на всіх стадіях виробництва!  Можливо виробництво кольоропроби (приклад хоккейкі на зразку тканини) перед початком запуску основного масиву роботи.</p>
        </article>

        <img src="" data-src="./img/technology/Слой 11.jpg" alt="" class="js-lazy">

        

        <article>
          <h3>Наші переваги</h3>
          
          {% include "partials/_articles-features.html" %}


        </article>
      </div>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->