<!-- begin section -->
<section class="section">
  <div class="container container--lg">

    {% if sectionMore.title %}
    <div class="section__title">
      <h3 class="title title--h3-sm">{{ sectionMore.title | safe }}</h3>
    </div>
    {% else %}
    <div class="section__title">
      <h3 class="title title--h3">Тренди</h3>
    </div>
    {% endif %}

    <div class="section__items">
      <div class="grid">
        {% for i in range(0, 4) %}
        <div class="_col _col-md-3 _col-sm-4 _col-xss-6">
          {% include "partials/_card.html" %}
        </div>
        {% endfor %}
      </div>
    </div>

    {% include "partials/_section-btn.html" %}
  </div>
</section>
<!-- end section -->