.article
  $this: &
  font-size: em(21)
  color: $article-text
  h1, h2, h3, h4, h5, h6, p, article, img, ul, ol
    +notlast
      margin-bottom: 40px
      +xl
        margin-bottom: 30px
      +md
        margin-bottom: 15px
  h1, h2, h3, h4, h5, h6
    color: $c-text
  h2
    @extend .title
    +css-lock(28, 55, 320, 1399, font-size)
  img
    width: 100%
  h2
    font-weight: 700
  h3
    @extend .title
    font-size: 1em
  article
    max-width: 875px
    margin-left: auto
    margin-right: auto
  ol
      +counter('-text', ')')
      li
        &::before
          display: inline-block
          margin-right: .5em
  ul
    li
      &::before
        content: '-'
        display: inline-block
        margin-right: .5em
  li
    +notlast
      margin-bottom: 40px
      +xl
        margin-bottom: 30px
      +md
        margin-bottom: 15px
  a
    color: $blue
    text-decoration: underline  
  blockquote
    color: $c-text
    font-weight: 700
  &__subttl
    color: $c-text
    margin-left: auto
    margin-right: auto
    max-width: 985px
    margin-bottom: 40px
    +xl
      margin-bottom: 30px
    +lg
      br
        display: none
    +md
      margin-bottom: 15px
  &__date
    color: $gray
    font-size: em(24, 21)
    margin-bottom: 15px
    +md
      margin-bottom: 10px

  &--page
    font-size: $fz
    text-align: justify
    h1, h2, h3, h4, h5, h6
      text-align: left
    h1
      @extend .title
      +css-lock(28, 55, 320, 1399, font-size)
      font-weight: 700  
    h2
      +css-lock(24, 32, 320, 1399, font-size)
      font-weight: 500
    h3
      +css-lock(18, 21, 320, 1399, font-size)
    article
      max-width: none
      margin-left: 0
      margin-right: 0
      +notlast
        margin-bottom: 75px
        +xl
          margin-bottom: 50px
        +lg
          margin-bottom: 30px
        +md
          margin-bottom: 15px
    ul
      li
        +list-bullet
    li
      +notlast
        margin-bottom: 0 !important

