.cart-tooltip-item
  padding-top: 30px
  padding-bottom: 30px
  border-bottom: 1px solid  $gray-light
  +flex
  +lg
    padding-top: 15px
    padding-bottom: 15px
  &__img
    width: 20%
    display: block
  &__content
    width: 55%
    display: block
    padding-left: 15px
    padding-right: 15px
    +lg
      padding-left: 10px
      padding-right: 10px
    +md
      padding-left: 5px
      padding-right: 5px
  &__meta
    display: block    
  &__price
    width: 25%
    display: block
  &__meta-item
    display: block
    color: $gray
    font-size: $fz-xs
    +notlast
      margin-bottom: 8px
  &__title
    display: block
    margin-bottom: 8px
